body{
	background: #fff;
  margin:0;
	color:#333;
	font:14px/20px Arial, Helvetica, sans-serif;
	min-width: 960px;
}
img{border-style:none;}
a{
	color:#43bdea;
	text-decoration:underline;
	outline:none;
}
a:hover{text-decoration:none;}
form,fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
header,
nav,
section,
article,
aside,
footer,
figure,
menu,
dialog {
	display: block;
}

.page {
  overflow: hidden;
  width: 100%;
  position: relative;
  z-index: 5;
}

.cup-wrapper {
	width: 660px;
	margin: 0 auto;
}

.cup-header {
	padding: 30px 9999px;
  margin: 0 -9999px;
  border-bottom: 1px solid #ccc;

}

.cup-page-logo {
	display: block;
	background: url('../images/cup-page-logo.png') no-repeat;
	width: 122px;
	height: 47px;
	text-indent: -9999px;
	overflow: hidden;
}

.cup-content {
	padding: 30px 0;
}

.cup-content h1 {
  font:18px/22px Arial, Helvetica, sans-serif;
  margin: 0 0 24px;
  text-transform: uppercase;
}

.cup-content h2 {
  font:14px/20px Arial, Helvetica, sans-serif;
  margin: 0 0 24px;
  text-transform: uppercase;
  color: #999;
}

.cup-content p {
	margin: 0 0 20px;
}

.cup-back {
	color: #999;
	text-decoration: none;
  	position: absolute;
	left: 20px;
	top: 130px;
}

.cup-back:hover {text-decoration: underline;}

.page-img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.cup-holder {
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0 0 0 -251px;
	width: 502px;
	height: 100%;
}

.cup-logo-block {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 20%;
}

.cup-logo-block .cup-logo {
	display: block;
	background: url('../images/cup-logo.png') no-repeat;
	width: 141px;
	height: 220px;
	text-indent: -9999px;
	overflow: hidden;
	margin: 0 auto 25px;
}

.cup-slogan {
  color: #9859b6;
  display: block;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 0 40px;
}

.cup-link {
  position: absolute;
  bottom: 10%;
  left:0;
  width: 100%;
  text-align: center;
}

.cup-link a{
  color: #fff;
}

#mc-form {
  position: relative;
}

#mc-form:after {
  content: '';
  display:table;
  clear: both;
}

#mc-email::-webkit-input-placeholder { color:#eee; }
#mc-email:-moz-placeholder { color:#eee; }
#mc-email:-ms-placeholder { color:#eee; }
#mc-email::-ms-input-placeholder { color:#eee; }
#mc-email:-ms-input-placeholder  { color:#eee; }

#mc-form input[type=email] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  -moz-box-shadow: inset 0 1px 1px #aaa;
  -webkit-box-shadow: inset 0 1px 1px #aaa;
  box-shadow: inset 0 1px 1px #aaa;

  display: block;
  width: 100%;
  height: 52px;
  border: 1px solid;
  border-color: #fff;
  border-color:rgba(255, 255, 255, 0.3);
  color: #fff;
  background-color: #aaa;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0;
  padding: 0 140px 0 20px;
  font-size: 14px;
  line-height: 20px;
  outline: none;
}

#mc-form input[type=email]:active,
#mc-form input[type=email]:focus,
#mc-form input[type=email]:hover {
  -moz-box-shadow: inset 0 1px 1px #888;
  -webkit-box-shadow: inset 0 1px 1px #888;
  box-shadow: inset 0 1px 1px #888;

  border-color:rgba(255, 255, 255, 0.6);
  background-color: rgba(0, 0, 0, 0.1);
}

#mc-form:hover input[type=email] {
  -moz-box-shadow: inset 0 1px 1px #888;
  -webkit-box-shadow: inset 0 1px 1px #888;
  box-shadow: inset 0 1px 1px #888;

  border-color:rgba(255, 255, 255, 0.6);
  background-color: rgba(0, 0, 0, 0.1);
}

#mc-form button[type=submit] {
  -moz-box-shadow: 0 1px 1px #aaa;
  -webkit-box-shadow: 0 1px 1px #aaa;
  box-shadow: 0 1px 1px #aaa;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  background: url('../images/bg-btn.png') repeat-x;
  position: absolute;
  top:8px;
  right:8px;
  width: 120;
  height: 36px;
  padding: 0 7px;
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 36px;
  border: 1px solid;
  border-color: #aaa;
  border-color:rgba(255, 255, 255, 0.6);
  text-shadow: 0 1px 1px #ccc;
  color: #aaa;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

#mc-form button[type=submit]:hover {
  background-position: 0 -36px;
}

#notification_container span{
  display: block;
  padding: 10px 0 0;
  color: #9859b6;
  font-size: 16px;
}

